language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install --quiet -r requirements.txt
  - pip install pytest pytest-cov
  - pip install -U scikit-learn
# command to run tests
script:
  - pytest --cov=./

after_success:
  - bash <(curl -s https://codecov.io/bash)
